BasedOnStyle: Microsoft

ColumnLimit: 0
NamespaceIndentation: All

AllowShortFunctionsOnASingleLine: InlineOnly

IndentCaseLabels: true

AlignConsecutiveAssignments:
    Enabled: true
    AcrossEmptyLines:true
    AcrossComments: true

AlignConsecutiveDeclarations:
    Enabled: true
    AcrossEmptyLines:true
    AcrossComments: true