BasedOnStyle: Microsoft

ColumnLimit: 0
NamespaceIndentation: All

AllowShortFunctionsOnASingleLine: InlineOnly

IndentCaseLabels: true
IndentCaseBlocks: true

AlignConsecutiveAssignments:
    Enabled: true
    AcrossEmptyLines:true
    AcrossComments: true

AlignConsecutiveDeclarations:
    Enabled: true
    AcrossEmptyLines:true
    AcrossComments: true


BraceWrapping:
    AfterCaseLabel: true